
/* sunrise-sunset content */

.ss-content{
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
  /* padding: 0.5rem 0rem; */
  font-size: small;
}

.ss-img{
  width: 2rem;
  height: 2rem;
  margin: 0.2rem 0.7rem;
}

.sunrise, .sunset{
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.ss-time{
  color: var(--app);
  font-size: 0.6rem;
}



/* wind status */

.ss-content .wind-highlight-main{
  font-size: 2.2rem;
  padding: 0rem;
}

.ss-content .wind-highlight-main span{
  font-size: 0.8rem;
}

.wind-highlight-footer{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}


/* humidity  */
.humidity-content{
  display: flex;
  font-size: small;
  justify-content: center;
  align-items: center;
}

.humidity-highlight-main{
  font-size: 2.2rem;
}

.aqi-highlight-main{
  font-size: 2rem;
}

.humidity-highlight-footer{
  font-size: 0.8rem;
}

.slidecontainer {
  width: 60%; /* Adjusted width */
  height: 60%;
  transform: rotateZ(-90deg);
}


#slider{
  overflow: hidden;
  width: 50%;
  height: 10%;
}

input[type="range"] {
  /* For Firefox */
  -webkit-appearance: none;
  appearance: none;
  /* Set the width and height of the track */
  width: 100%;
  height: 10px;
  /* Set the background color of the track */
  background-color: #ddd;
  /* Set border-radius to round the corners */
  border-radius: 5px;
}

/* Change the color of the slider thumb */
input[type="range"]::-webkit-slider-thumb {
  /* For Chrome, Safari, and Opera */
  -webkit-appearance: none;
  appearance: none;
  /* Set the width and height of the thumb */
  width: 20px;
  height: 20px;
  /* Set the background color of the thumb */
 
  background-color: #5a39b5;
  /* Set border-radius to round the thumb */
  border-radius: 50%;
  /* Set box-shadow for a more prominent thumb */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #5a39b5;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* For Firefox */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; /* Adjusted width */
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px; /* Adjusted width */
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}
.uv{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:flex-start; */
}
.uv-index{
  position: absolute;
  top: 100;
  padding: 2rem;
  margin: 1rem;
}

ProgressBar{
  width: 1rem;  
}

.RCP svg{
  height: 150px;
}