.week-data{
}
.week-forecast{
    display: flex;
    /* background-color: red; */
    justify-content: space-evenly;
    align-items: center;
}
.highlights-head{
    padding: .5rem;
}
.highlights-section{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 18px;
    padding: 10px;
    height: 17rem;
}